body {
  margin: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  background: #2864FF;
  color: white;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 20rem;
  text-align: center;
  opacity: 0.1;
  margin: 13% 0 0 0;

}

.progress {
  background-color: #A1BCFF;
  height: 3px;
  width: 0;
  position: absolute;
  top: 50%;
}